version = 1

[[analyzers]]
name = "javascript"
enabled = true

  [analyzers.meta]
  plugins = ["react"]
  dialect = "typescript"

[[analyzers]]
name = "shell"
enabled = true

[[transformers]]
name = "prettier"
enabled = true
